* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Poppins, sans-serif;
}
body{
	position: relative;
}
.navigation{
	border: 2px solid black;
	width: 100%;
	height:50px;
}
.navigation ul{
	text-dicoration: none;
	list-style-type: none;
}
.header{
	border: 2px solid red;
}
.section {
	border: 2px solid red;
}
.footer{
	border: 2px solid red;
}
.nav_list{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
ul{
	display: flex;
	flex-direction: row;
	align-items: center;
}
ul li{
	list-style-type: none;
	margin: 0px 1rem;
	text-dicoration: none;
}
a{
	text-decoration: none;
	color: black;
}